.chessboard {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 25px solid #333;
}
.square, .whitesquare, .blacksquare{
    float: left;
    width: 50px;
    height: 50px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.blacksquare {
    background-color: #999;

}
.whitesquare {
    background-color: #fff;
}
.white, .black {
}
.piece {
    width: 25px;
    height: 25px;
}
.whitepawn:before{
    content:"\2659";
}
.blackpawn:before{
    content:"\265F";
}
.castle:before{
    content:"\265C";
}
.whitebishop:before{
    content:"\2657";
}
.blackbishop:before{
    content:"\265D";
}
.whiteknight:before{
    content:"\2658";
}
.blackknight:before{
    content:"\265E";
}
.blackqueen:before{
    content:"\265B";
}
.whitequeen:before{
    content:"\2655";
}
.blackking:before{
    content:"\265A";
}
.whiteking:before{
    content:"\2654";
}